---
layout: default
---

<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">
        {{ page.title }}
    </h1>
    
    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
      
  </header>

  <div style="padding: 4% 10%">
  {% if page.bootstrap %}
  <div class="bootstrap-iso">
  
  	<!-- {% if page.bootstrap %}
  	<div class="avatar" style="float: left;width: auto;padding:auto 10px" >
  	{% endif %} -->
  		<img src='{{ site.baseurl }}/assets/img/pexels/avatar.jpg'/>	
  	<!-- {% if page.bootstrap %}
  	</div> -->
  	{% endif %}
  	<div class="profile" style="float: left;width: 80%">
  	{{content}}
  	</div>
  {% if page.bootstrap %}
  </div>
  {% endif %}
  </section>
    
    
  <!-- Tag list for portfolio -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include tags_list.html tags=tag_list %}
    
</article>